* {
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #FFFCF6;
    width: 100vw;
    overflow-x: hidden;
}

.navbar-custom{
    background-color: #FFFCF6;
}

.nav-link{
    font-weight: 600;
}


/* Section 1 Styling */

.section-1{
    margin-top: 30vh;
    width: 100vw;
}

.section-1-left{
    margin-left: 13vw;
}

.section-1-title{
    font-weight: 700;
    font-size: 50px;
}

.section-1-subhead{
    max-width: 80%;
}

.menu-btn{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 100px;
    color: black;
    background-color: #F6CD63;
    font-weight: 600;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    transition: background-color 0.5s;
}

.menu-btn:hover{
    background-color: #ffdf90;
}

.order-online-btn{
    margin-top: 1.2vh;
    margin-left: 1vw;
    color: black;
    font-weight: 500;
}

.section-1-img{
    max-width: 25vw;
    margin-left: 18vw;
    margin-top: -5vh;
}


/* Section 2 Styling */
.section-2-head{
    margin-left: 5vw;
    margin-top: 10vh;
    font-weight: 600;
}

.specials-box{
    width: 18vw;
    height: 35vh;
    border-radius: 10px;
    margin-right: 5vw;
    margin-bottom: 5vh;
    margin-top: 5vh;
    box-shadow: 0px 4px 42px 3px rgba(0, 0, 0, 0.25);
}

.specials-box-img{
    width: 95%;
    margin-top: 10%;
}

.specials-box-head{
    margin-top: 5%;
}

.specials-box-subhead{
    font-size: 15px;
    width: 90%;
}

/* Section 3 Styling */

.section-3{
    margin-top: 20vh;
}

.section-3-head{
    font-weight: 600;
}

.section-3-subhead{
    width: 25vw;
}

.chip{
    border-radius: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px black solid;
    width: fit-content;
    margin-right: 0.5vw;
    margin-top: 1vh;
    transition: background-color 0.2s linear;
}

.chip:hover{
    background-color: #F6CD63;
    border: 1px #F6CD63 solid;
}

.chips-row{
    max-width: 25vw;
}

.section-4{
    margin-top: 10vh;
}

.section-4-head{
    font-weight: 600;
}

/* Gallery Code */

.gallery{}

.img-gallery{
    height: 20vh;
    width: 10vw;
    border-radius: 10px;
    margin-left: 1vw;
}


/* Section 5 */
.section-5{
    margin-top: 10vh;
}

.section-5-head{
    font-weight: 600;
}

.icon-location{
    font-size: 25px;
}

.phone-text{
    margin-left: 1vw;
}

/* Footer */

footer{
    background-color: #F6CD63;
    width: 100vw;
    padding: 10px;
    padding-top: 20px;
    margin-top: 5vh;
}

